@page "/"
@rendermode InteractiveWebAssembly

<h3>Wardrobe</h3>
<div class="d-flex flex-sm-row flex-column ">
    <div class="d-flex flex-column p-4 gap-4">
        <div class="d-flex gap-2">
            <div class="border border-2 border-danger rounded-2" style="width: 100px; height: 100px; overflow: hidden;">
                <img src="images/soutline.jpg" alt="Alternate Text" class="w-100 h-100" />
            </div>
            <span>
                Shirt
            </span>
        </div>
        <div class="d-flex gap-2">
            <div class="border border-2 border-danger rounded-2" style="width: 100px; height: 100px; overflow: hidden;"> 
                <img src="images/poutline.jpg" alt="Alternate Text" class="w-100 h-100" />
            </div>
            <span>
                Pants
            </span>
        </div>
        <div class="d-flex gap-2">
            <div class="border border-2 border-danger rounded-2" style="width: 100px; height: 100px; overflow: hidden;">                
                <img src="images/shoutline.jpg" alt="Alternate Text" class="w-100 h-100" />
            </div>
            <span>
                Shoes
            </span>
        </div>
    </div>


    <div class="p-4">
       <div>
          
       </div>

    </div>


</div>


@code {

}
